<section class="currency">
    <form>
        <div class="thumbDiv">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>From</mat-label>
                    <input matInput name="fromAmount" type="number" min="0" [(ngModel)]="currencyConversionForm.fromAmount" (input)="d$inputChange()">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Currency</mat-label>
                    <mat-select name="fromCurrency" [(ngModel)]="currencyConversionForm.fromCurrency" (selectionChange)="convert()">
                        <mat-option *ngFor="let currency of availableCurrencies" [value]="currency">{{currency}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <input matInput name="toAmount" type="number" min="0" [(ngModel)]="currencyConversionForm.toAmount" (input)="d$inputChange(true)">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Currency</mat-label>
                    <mat-select name="toCurrency" [(ngModel)]="currencyConversionForm.toCurrency" (selectionChange)="convert()">
                        <mat-option *ngFor="let currency of availableCurrencies" [value]="currency">{{currency}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="conversion-value">
        <label>Conversion Result : </label>
        <span *ngIf="isConverted">{{currencyConversionForm.fromAmount | currency: currencyConversionForm.fromCurrency}} = {{currencyConversionForm.toAmount | currency: currencyConversionForm.toCurrency}}</span>
    </div>
</section>