<header class="header">
  <div class="container">
  <mat-toolbar color="primary">
      <div class="logo" [routerLink]="['/']"><img src="../../../../assets/images/logo.png" alt="image"/></div>
      <div class="thumb-btns">
      <button class="mr-2" mat-flat-button color="primary" [routerLink]="['/currency-converter']" routerLinkActive="active">Currency Converter</button>
      <button mat-flat-button color="primary" [routerLink]="['/length-converter']" routerLinkActive="active">Length Converter</button>
    </div>
    </mat-toolbar>
  </div>
</header>