.conversion-value {
    margin: 15px 0 25px 0;
     label {
        display: block;
        font-size: 20px;
        margin: 0 0 12px 0;
        color:#1a8ae5;
    }
    span{
        display: block;
        font-size: 20px;
        margin: 0 0 12px 0;
    }
}